certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.12
colorama==0.4.4
dill==0.3.4
googletrans==2.3.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
loguru==0.6.0
lxml==4.8.0
multiprocess==0.70.12.2
pathos==0.2.8
pox==0.3.0
ppft==1.6.6.4
PyExecJS==1.5.1
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PyQt5-stubs==5.15.2.0
requests==2.27.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
translators==5.0.1
urllib3==1.26.8
win32-setctime==1.1.0
